* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 50px;
}
.box {
  width: 500px;
  border: 1px solid #000;
}
.box img {
  width: 300px;
}
.btn_wrap {
  text-align: center;
  margin-top: 100px;
}
.btn_wrap button {
  width: 100px;
  height: 100px;
}